:root{
    --text-white: #fff;
    --text-title: #e12457;
    --text-desc: #4d4d4d;
    --text-nothover: #908bb1;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    position: absolute;
    display: flex;
    height: 48px;
    top: 10px;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1136px;
    left: 50%;
    margin-left: -568px;
    color: var(--text-white, white);
}
header .logo{
    display: flex;
    height: 100%;
    width: 178px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    width: 48px;
    height: 48px;
}
header .logo .logo-text{
    display: flex;
    flex-direction: column;
}
.logo-text .logo-text__title{
    font-size: 21px;
    text-transform: uppercase;
}
.logo-text .logo-text__sub{
    font-size: 16px;
}
header .menu nav{
    display: none;
}
.menu .menu-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 113px;
    height: 100%;
    align-items: center;
    cursor: pointer;
}
.menu .menu-btn span{
    display: block;
    width: 48px;
    font-size: 18px;
    position: relative;
}
.menu-btn .menu-gamb,
.menu-btn .menu-gamb:after,
.menu-btn .menu-gamb:before {
    position: absolute;
    width: 47px;
    height: 2px;
    background-color: #fff;
}
.menu-btn .menu-gamb:after,
.menu-btn .menu-gamb:before{
    content: '';
    width: 37px;
    display: block;
    transition: 1s;
}
.menu-btn .menu-gamb:after{
    transform: translateY(6px);
}
.menu-btn .menu-gamb:before{
    transform: translateY(-6px);
}
.head{
    width: 100%;
    height: 950px;
    position: relative;
}
.head .head-bg{
    /* position: absolute; */
    max-width: 1600px;
    height: 950px;
    background: url(img/header-bg.jpg) center top no-repeat #74156f;
    z-index: -1;
}
.heade .head-row {
    height: 100%;
    width: 1136px;
    margin: auto;
}

